* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    overflow: scroll;
    background: #111;
    width: 100%;
    min-height: 10vh;
}


.top-card {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    z-index: 10;
    width: 100%;
    margin: auto;



}

.top-card
img {
    border-radius: 0.94rem;
    width: 95%;
    margin: auto;
}




.left-controls {
    position: fixed;
    left: 1.25rem;
    top: 22rem;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    gap: 0.94rem;
    z-index: 10;
    background: transparent;


}

/* .left-controls button,
.right-controls button {

    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 100%;
    object-fit: cover;
    background: transparent;





} */

.right-controls img {
    border-radius: 100%;
    height: 2.8rem;
    width: 2.8rem;
}
.left-controls img {
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
}



.right-controls {
    position: fixed;
    background: transparent;
    right: 0.625rem;
    top: 13rem;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    gap: 0.94rem;


    z-index: 10;

}

.map {
    width: 100%;
    margin: 0;
    padding: 0;
}

.map
img {
    width: 100%;
    margin: 0;
    padding: 0;

}

/* =========================================================
   BOTTOM TRIP PANEL
========================================================= */

.trip-panel {
    position: fixed;
    z-index: 50;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 18%;
    width: 100%;
    background: #202938;
    border-radius: 1.75rem 1.75rem 0 0;
    padding: 1.8rem 1rem;
    box-shadow: 0 -0.25rem 0.94rem rgba(0, 0, 0, .15);
}

.trip-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.trip-info {
    width: 98%;
}

.time-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.time,
.menu {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.destination {
    font-size: 1.2rem;
    line-height: 1.25;
    color: #f5f5f5;
    margin-left: 0.3rem;
}

.trip-menu {
    position: relative;
    margin-top: 0.19rem;
}


.driver {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: white;
    margin-left: 0.3rem;
}

.driver-rating {
    color: #ffc11b;
    font-weight: 700;
}

.fare {
    display: inline-block;
    margin-top: 0.8rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0.625rem;
    background: #323760;
    font-size: 0.8rem;
    font-weight: 600;
    white-space: nowrap;
    color: rgba(135, 207, 235, 0.664);
}


.toll {
    color: white;
}

/* =========================================================
   ARRIVED BUTTON
========================================================= */

.arrived {
    width: 100%;
    margin-top: 1.2rem;
    border: none;
    border-radius: 0.7rem;
    background: #20a65e;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem;
}

/* =========================================================
   ANDROID HOME INDICATOR
========================================================= */

.home-indicator {
    position: absolute;
    z-index: 100;
    bottom: 0.38rem;
    left: 50%;
    transform: translateX(-50%);
    width: 6.5rem;
    height: 0.3rem;
    border-radius: 0.625rem;
    background: #9da2aa;
}